@page "/browse"

<div class="d-flex flex-column pa-8 gap-y-2">
    <div class="d-flex gap-x-4">
        <TagSearchPanelCollection Style="flex: 3;"
                                  TagSearchPanelChipModels="@_tagSearchPanelChipModels"
                                  ChipModelsChanged="@OnChipModelsChanged" />
        <LTKSearchView Style="flex: 1;"
                       SelectedLanguage="@BrowseConfigurationService.Config.SelectedLanguage"
                       SelectedLanguageChanged="@OnSelectedLanguageChanged"
                       SelectedType="@BrowseConfigurationService.Config.SelectedType"
                       SelectedTypeChanged="@OnSelectedTypeChanged"
                       TitleSearchKeyword="@BrowseConfigurationService.Config.TitleSearchKeyword"
                       TitleSearchKeywordChanged="@OnTitleSearchKeywordChanged" />
    </div>
    @if (_isEditing) {
        <div class="d-flex justify-end align-center gap-x-4 my-2">
            <MudButton Color="Color.Primary"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Cancel"
                       OnClick=@ExitEditMode>
                @Localizer["ExitEditMode"]
            </MudButton>
            <MudButton Color="Color.Error"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="@DeleteGalleries"
                       Disabled="@(!BrowseConfigurationService.Selections.Any(s => s))">
                @Localizer["DeleteSelection"]
            </MudButton>
        </div>
    } else {
        <div class="d-flex align-center flex-wrap mud-width-full">
            <div class="d-flex align-center gap-x-4 flex-wrap">
                <MudNumericField T="int" Margin="Margin.Dense"
                                 Label=@Localizer["ItemsPerPage"]
                                 Variant="Variant.Outlined"
                                 Min="1" Max="24"
                                 Pattern="[0-9]"
                                 Style="max-width: 160px"
                                 Value="@BrowseConfigurationService.Config.ItemsPerPage"
                                 ValueChanged="@OnItemsPerPageChanged" />
                <MudSelect T="int" FitContent
                           Margin="Margin.Dense"
                           Label=@Localizer["ThumbnailImageCount"]
                           Variant="Variant.Outlined"
                           ToStringFunc="@(i => i < 1 ? SharedLocalizer["Automatic"] : i.ToString())"
                           Value="@_thumbnailImageCount"
                           ValueChanged="@OnThumbnailImageCountChanged">
                    @for (int i = 0; i <= GalleryBrowseItem.MAX_THUMBNAIL_IMAGES_COUNT; i++)
                    {
                        <MudSelectItem Value="@i" />
                    }
                </MudSelect>
                <div class="d-flex align-center">
                    <div id="sort-property-select">
                        <MudSelect T="GalleryProperty" FitContent
                                   Margin="Margin.Dense"
                                   Label=@Localizer["SortBy"]
                                   Variant="Variant.Outlined"
                                   ToStringFunc="@(p => SharedLocalizer[p.ToString()])"
                                   Value="@BrowseConfigurationService.Config.SelectedSortProperty"
                                   ValueChanged="@OnSelectedSortPropertyChanged">
                            @foreach (GalleryProperty gp in Enum.GetValues(typeof(GalleryProperty))) {
                                <MudSelectItem Value="@gp" />
                            }
                        </MudSelect>
                    </div>
                    <div id="sort-direction-select">
                        <MudSelect T="SortDirection" FitContent
                                   Margin="Margin.Dense"
                                   Label=@Localizer["SortDirection"]
                                   Variant="Variant.Outlined"
                                   ToStringFunc="@(sd => Localizer[sd.ToString()])"
                                   Value="@BrowseConfigurationService.Config.SelectedSortDirection"
                                   ValueChanged="@OnSelectedSortDirectionChanged">
                            @foreach (SortDirection sd in Enum.GetValues(typeof(SortDirection))) {
                                <MudSelectItem Value="@sd" />
                            }
                        </MudSelect>
                    </div>
                </div>
            </div>
            <div id="right-control-panel" class="d-flex flex-grow-1 justify-end align-center gap-x-4 flex-wrap">
                <MudButton Color="Color.Default"
                           Variant="Variant.Outlined"
                           StartIcon="@Icons.Material.Filled.Edit"
                           OnClick="@(() => _isEditing = true)">
                    @Localizer["Edit"]
                </MudButton>
                <MudSwitch T="bool"
                           Label=@Localizer["AutoRefresh"]
                           Color="Color.Primary"
                           Value="@BrowseConfigurationService.Config.AutoRefresh"
                           ValueChanged="@OnAutoRefreshChanged" />
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Search"
                           OnClick="@LoadGalleries">
                    @SharedLocalizer["Browse"]
                </MudButton>
            </div>
        </div>
    }
    <MudPagination ShowFirstButton ShowLastButton
                    MiddleCount="8"
                    Count="@BrowseConfigurationService.TotalPages"
                    Selected="@BrowseConfigurationService.PageNum"
                    SelectedChanged="@OnPageNumChanged"
                    Style="margin: auto;" />
    @if (_isLoading) {
        <div class="d-flex justify-center mt-16">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    } else {
        @if (BrowseConfigurationService.Galleries.Count == 0) {
            <MudText Style="margin: auto; margin-top: 160px; color: var(--mud-palette-gray-default)">@Localizer["NoGalleriesFound"]</MudText>
        } else {
            <MudGrid Spacing="4" Class="mt-2">
                @for (int i = 0; i < BrowseConfigurationService.Galleries.Count; i++) {
                    int localIndex = i;
                    <MudItem sm="12" md="6" lg="4" xl="3" xxl="2" Style="overflow-x: clip;">
                        <GalleryBrowseItem Gallery="@BrowseConfigurationService.Galleries[localIndex]"
                                           @bind-IsSelected="@BrowseConfigurationService.Selections[localIndex]"
                                           IsEditing="@_isEditing" />
                    </MudItem>
                }
            </MudGrid>
        }
    }
</div>
