@page "/browse"

<div class="d-flex flex-column pa-8 gap-2">
    <div class="d-flex gap-4">
        <TagSearchPanelCollection Style="flex: 3;"
                                  TagSearchPanelChipModels="@_tagSearchPanelChipModels"
                                  ChipModelsChanged="@OnChipModelsChanged" />
        <LTKSearchView Style="flex: 1;"
                       SelectedLanguage="@BrowseConfigurationService.Config.SelectedLanguage"
                       SelectedLanguageChanged="@OnSelectedLanguageChanged"
                       SelectedType="@BrowseConfigurationService.Config.SelectedType"
                       SelectedTypeChanged="@OnSelectedTypeChanged"
                       TitleSearchKeyword="@BrowseConfigurationService.Config.TitleSearchKeyword"
                       TitleSearchKeywordChanged="@OnTitleSearchKeywordChanged" />
    </div>
    @if (_isEditing) {
        <div class="d-flex justify-start align-center gap-4 my-4">
            <MudButton Color="Color.Error"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="@DeleteGalleries"
                       Disabled="@(!BrowseConfigurationService.Selections.Any(s => s))">
                @Localizer["DeleteSelection"]
            </MudButton>
            <MudButton Color="Color.Primary"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Cancel"
                       OnClick=@ExitEditMode>
                @SharedLocalizer["Cancel"]
            </MudButton>
        </div>
    } else {
        <div class="d-flex justify-space-between align-center" style="position: relative;">
            <div class="d-flex align-center gap-4">
                <MudNumericField T="int"
                                 Label=@Localizer["ItemsPerPage"]
                                 Variant="Variant.Outlined"
                                 Min="1" Max="24"
                                 Style="max-width: 160px"
                                 Value="@BrowseConfigurationService.Config.ItemsPerPage"
                                 ValueChanged="@OnItemsPerPageChanged" />
                <MudButton Color="Color.Default"
                           Variant="Variant.Outlined"
                           StartIcon="@Icons.Material.Filled.Edit"
                           OnClick="@(() => _isEditing = true)">
                    @Localizer["Edit"]
                </MudButton>
                <MudButton Variant="Variant.Outlined"
                           Color="@(BrowseConfigurationService.ActiveSorts.Count == 0 ? Color.Default : Color.Primary)"
                           StartIcon="@Icons.Material.Filled.Sort"
                           OnClick="@ShowSortEditDialog">
                    @(
                        BrowseConfigurationService.ActiveSorts.Count == 0 ? Localizer["Sort"] :
                        BrowseConfigurationService.ActiveSorts.Count == 1 ? Localizer["SingleSort"] :
                        string.Format(Localizer["MultiSort"], BrowseConfigurationService.ActiveSorts.Count)
                    )
                </MudButton>
            </div>
            <MudPagination ShowFirstButton ShowLastButton
                           MiddleCount="8"
                           Count="@BrowseConfigurationService.TotalPages"
                           Selected="@BrowseConfigurationService.PageNum"
                           SelectedChanged="@OnPageNumChanged"
                           Style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            <div class="d-flex align-center gap-4">
                <MudSwitch T="bool"
                           Label=@Localizer["AutoRefresh"]
                           Color="Color.Primary"
                           Value="@BrowseConfigurationService.Config.AutoRefresh"
                           ValueChanged="@OnAutoRefreshChanged" />
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Search"
                           OnClick="@LoadGalleries">
                    @SharedLocalizer["Browse"]
                </MudButton>
            </div>
        </div>
    }
    @if (_isLoading) {
        <div class="d-flex justify-center mt-16">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    } else {
        @if (BrowseConfigurationService.Galleries.Count == 0) {
            <MudText Style="margin: auto; margin-top: 160px; color: var(--mud-palette-gray-default)">@Localizer["NoGalleriesFound"]</MudText>
        } else {
            <MudGrid Spacing="4">
                @for (int i = 0; i < BrowseConfigurationService.Galleries.Count; i++) {
                    int localIndex = i;
                    <MudItem sm="12" md="6" lg="4" xl="3" xxl="2" Style="overflow-x: clip;">
                        <GalleryBrowseItem Gallery="@BrowseConfigurationService.Galleries[localIndex]"
                                           @bind-IsSelected="@BrowseConfigurationService.Selections[localIndex]"
                                           IsEditing="@_isEditing" />
                    </MudItem>
                }
            </MudGrid>
        }
    }
</div>
