@page "/download"

<div style="height: 100%;" class="d-flex gap-8 pa-8">
    <div style="min-width: 360px;" class="d-flex flex-column gap-4">
        <MudTextField FullWidth AutoGrow Immediate
                      Variant="Variant.Outlined"
                      T="string"
                      Lines="8"
                      @bind-Value="@_inputText"
                      Placeholder=@Localizer["InputPlaceholder"] />
        <MudTooltip Text=@(DownloadManager.IsHubConnectionOpen ? "" : Localizer["TryPageRefresh"])
                    RootClass="mud-width-full">
            <MudButton FullWidth
                       Variant="Variant.Filled"
                       Color="@Color.Primary"
                       EndIcon="@Icons.Material.Filled.Download"
                       Disabled="@(_inputText.Length == 0 || !DownloadManager.IsHubConnectionOpen)"
                       OnClick="@(() => Download(DownloadAction.Queue))">
                @(DownloadManager.IsHubConnectionOpen ? SharedLocalizer["DefaultDownload"] : Localizer["ServerUnavilable"])
            </MudButton>
        </MudTooltip>
        <MudTooltip Text=@(DownloadManager.IsHubConnectionOpen ? "" : Localizer["TryPageRefresh"])
                    RootClass="mud-width-full">
            <MudButton FullWidth
                       Variant="Variant.Filled"
                       Color="@Color.Secondary"
                       EndIcon="@Icons.Material.Filled.Download"
                       Disabled="@(_inputText.Length == 0 || !DownloadManager.IsHubConnectionOpen)"
                       OnClick="@(() => Download(DownloadAction.GalleryInfoOnly))">
                @(DownloadManager.IsHubConnectionOpen? SharedLocalizer["DownloadGalleryInfoOnly"] : Localizer["ServerUnavilable"])
            </MudButton>
        </MudTooltip>
    </div>
    <MudDivider Vertical />
    <div style="flex: 1;" class="d-flex flex-column gap-4">
        <MudButton Color="Color.Secondary" 
                   Variant="Variant.Outlined"
                   OnClick="@OnImportButtonClick"
                   Disabled="@_isImporting"
                   Class="align-self-start">
            @if (_isImporting)
            {
                <MudProgressCircular Indeterminate Size="Size.Small" Color="Color.Primary" Class="mr-2" />
            }
            @Localizer["ImportGalleries"]
        </MudButton>
        <div class="d-flex gap-4 align-center">
            <MudNumericField T="int"
                             Label=@Localizer["MaxConcurrentDownloadCount"]
                             Variant="Variant.Outlined"
                             Min="1" Max="8"
                             Pattern="[0-9]"
                             Value="@DownloadConfigurationService.Config.MaxConcurrentDownloadCount"
                             ValueChanged="@OnMaxConcurrentDownloadCountChanged" />
            <MudNumericField T="int"
                             Label=@Localizer["DownloadThreadCount"]
                             Variant="Variant.Outlined"
                             Min="1" Max="16"
                             Pattern="[0-9]"
                             Value="@DownloadConfigurationService.Config.DownloadThreadCount"
                             ValueChanged="@OnDownloadThreadCountChanged" />
            <MudSelect T="string" FitContent
                       Label=@Localizer["PreferredFormat"]
                       Variant="Variant.Outlined"
                       Value="@DownloadConfigurationService.Config.PreferredFormat"
                       ValueChanged="@OnPreferredFormatChanged">
                <MudSelectItem Value=@("webp")>webp</MudSelectItem>
                <MudSelectItem Value=@("avif")>avif</MudSelectItem>
            </MudSelect>
            <MudSpacer/>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.PlayArrow"
                       OnClick="@DownloadManager.SendStartAllDownloads">
                @Localizer["StartAllDownloads"]
            </MudButton>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.Pause"
                       OnClick="@DownloadManager.SendPauseAllDownloads">
                @Localizer["PauseAllDownloads"]
            </MudButton>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="@DownloadManager.SendDeleteAllDownloads"
                       Color="Color.Error">
                @Localizer["DeleteAllDownloads"]
            </MudButton>
        </div>
        <MudPaper Class="d-flex flex-column gap-4 overflow-y-auto overflow-x-hidden pa-4"
                  Style="flex: 1" Outlined>
            @foreach (DownloadModel model in DownloadManager.Downloads.Values) {
                <DownloadItemView Model="@model" @key=@model />
            }
        </MudPaper>
    </div>
</div>