@page "/download"

<div style="height: 100%;" class="d-flex gap-8 pa-8">
    <div Style="min-width: 360px;">
        <MudTextField FullWidth AutoGrow Immediate
                      Variant="Variant.Outlined"
                      T="string"
                      Lines="8"
                      @bind-Value="@_inputText"
                      Placeholder=@Localizer["InputPlaceholder"] />
        <MudTooltip Text=@(DownloadManager.IsHubConnectionOpen ? "" : Localizer["TryPageRefresh"])
                    RootClass="mud-width-full">
            <MudButton FullWidth
                       Variant="Variant.Filled"
                       Color="@Color.Primary"
                       EndIcon="@Icons.Material.Filled.Download"
                       Disabled="@(_inputText.Length == 0 || !DownloadManager.IsHubConnectionOpen)"
                       OnClick="@OnDownloadButtonClick"
                       Class="mt-4">
                @(DownloadManager.IsHubConnectionOpen ? SharedLocalizer["Download"] : Localizer["ServerUnavilable"])
            </MudButton>
        </MudTooltip>
    </div>
    <MudDivider Vertical />
    <div style="flex: 1;" class="d-flex flex-column gap-4">
        <div class="d-flex gap-4 align-center">
            <MudSwitch T="bool"
                       Label=@Localizer["ConcurrentDownload"]
                       Value="@DownloadConfigurationService.Config.UseParallelDownload"
                       ValueChanged="@OnParallelDownloadChanged"
                       Color="Color.Primary" />
            <MudDivider Vertical FlexItem />
            <MudNumericField T="int"
                             Label=@Localizer["ThreadsPerDownload"]
                             Variant="Variant.Outlined"
                             Min="1" Max="16"
                             Pattern="[0-9]"
                             Value="@DownloadConfigurationService.Config.ThreadNum"
                             ValueChanged="@OnThreadNumChanged" />
            <MudSpacer/>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.PlayArrow"
                       OnClick="@DownloadManager.StartAllDownloads">
                @Localizer["StartAllDownloads"]
            </MudButton>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.Pause"
                       OnClick="@DownloadManager.PauseAllDownloads">
                @Localizer["PauseAllDownloads"]
            </MudButton>
            <MudButton Disabled="@(DownloadManager.Downloads.Count == 0)"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="@DownloadManager.DeleteAllDownloads"
                       Color="Color.Error">
                @Localizer["DeleteAllDownloads"]
            </MudButton>
        </div>
        <MudPaper Class="d-flex flex-column gap-4 overflow-y-auto overflow-x-hidden pa-4"
                  Style="flex: 1" Outlined>
            @foreach (DownloadModel model in DownloadManager.Downloads.Values) {
                <DownloadItemView Model="@model" @key=@model />
            }
        </MudPaper>
    </div>
</div>