@page "/settings"
@using System.Globalization

<div class="d-flex flex-column gap-4 pa-8">
    <MudText Typo="Typo.h4">Import/Export Data</MudText>
    <div class="d-flex flex-column gap-2">
        <MudText Typo="Typo.h6">Import</MudText>
        <DataImporter></DataImporter>
        <MudText Typo="Typo.h6">Export</MudText>
        <DataExporter></DataExporter>
    </div>
    <MudText Typo="Typo.h4">@Localizer["GlobalSettings"]</MudText>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Palette"
                  Header=@Localizer["AppThemeColor"]>
        <MudColorPicker @bind-Value=@AppConfigurationService.LocalAppThemeColor
                        ShowAlpha="false"
                        ShowColorField="false"
                        ShowInputs="false"
                        ShowPreview="false">
            <PickerActions>
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           OnClick="@(() => OnAppThemeColorChanged(AppConfigurationService.LocalAppThemeColor.Value))">
                    @SharedLocalizer["Confirm"]
                </MudButton>
            </PickerActions>
        </MudColorPicker>
    </SettingsCard>
    <MudText Typo="Typo.h4">@Localizer["DefaultGalleryViewPageSettings"]</MudText>
    <SettingsCard Icon="@(ViewConfigurationService.Config.ViewMode == ViewMode.Default ? MudBlazor.Icons.Material.Rounded.Rectangle : MudBlazor.Icons.Material.Filled.TableRows)"
                  Header=@SharedLocalizer["ViewMode"]>
        <MudSelect T="ViewMode"
                   Variant="Variant.Outlined"
                   Style="max-width: 200px;"
                   Value="@ViewConfigurationService.Config.ViewMode"
                   ValueChanged="@OnViewModeChanged">
            <MudSelectItem T="ViewMode" Value="ViewMode.Default">@SharedLocalizer["Default"]</MudSelectItem>
            <MudSelectItem T="ViewMode" Value="ViewMode.Scroll">@SharedLocalizer["Scroll"]</MudSelectItem>
        </MudSelect>
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Timer"
                  Header=@SharedLocalizer["PageTurnInterval"]>
        <MudSlider T="int" ValueLabel TickMarks
                   Min="1" Max="20"
                   Value=@ViewConfigurationService.Config.PageTurnInterval
                   ValueChanged=@OnPageTurnIntervalChanged
                   Variant="Variant.Filled"
                   Style="min-width: 240px">
            <ValueLabelContent>
                @(context.Value.ToString() + SharedLocalizer["Unit_Second"])
            </ValueLabelContent>
        </MudSlider>
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Settings"
                  Header=@SharedLocalizer["AutoScrollMode"]>

        <MudSelect T="AutoScrollMode"
                   Value=@ViewConfigurationService.Config.AutoScrollMode
                   ValueChanged="@OnAutoScrollModeChanged"
                   Variant="Variant.Outlined">
            <MudSelectItem T="AutoScrollMode" Value="AutoScrollMode.Continuous">@SharedLocalizer["Continuous"]</MudSelectItem>
            <MudSelectItem T="AutoScrollMode" Value="AutoScrollMode.ByPage">@SharedLocalizer["ByPage"]</MudSelectItem>
        </MudSelect>
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Speed"
                  Header=@SharedLocalizer["AutoScrollSpeed"]>
        <MudSlider T="int" ValueLabel TickMarks
                   Min="1" Max="8"
                   Value=@ViewConfigurationService.Config.ScrollSpeed
                   ValueChanged=@OnScrollSpeedChanged
                   Variant="Variant.Filled"
                   Style="min-width: 240px">
            <ValueLabelContent>
                @(context.Value.ToString() + SharedLocalizer["Unit_Second"])
            </ValueLabelContent>
        </MudSlider>
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Loop"
                  Header=@SharedLocalizer["Loop"]
                  Description=@Localizer["LoopDesc"]>
        <MudSwitch T="bool"
                   Value=@ViewConfigurationService.Config.Loop
                   ValueChanged=@OnLoopChanged
                   Color="Color.Primary" />
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Settings"
                  Header=@SharedLocalizer["ImageLayoutMode"]>
        <MudSelect T="ImageLayoutMode"
                   Value=@ViewConfigurationService.Config.ImageLayoutMode
                   ValueChanged="@OnImageLayoutModeChanged"
                   Variant="Variant.Outlined"
                   Style="max-width: 200px">
            <MudSelectItem T="ImageLayoutMode" Value="ImageLayoutMode.Automatic">@SharedLocalizer["Automatic"]</MudSelectItem>
            <MudSelectItem T="ImageLayoutMode" Value="ImageLayoutMode.Fixed">@SharedLocalizer["Fixed"]</MudSelectItem>
        </MudSelect>
    </SettingsCard>
    <SettingsCard Icon="@(ViewConfigurationService.Config.ViewDirection == ViewDirection.LTR ? MudBlazor.Icons.Material.Filled.East : MudBlazor.Icons.Material.Filled.West)"
                  Header=@SharedLocalizer["ViewDirection"]>
        <MudSelect T="ViewDirection"
                   Value=@ViewConfigurationService.Config.ViewDirection
                   ValueChanged="@OnViewDirectionChanged"
                   Variant="Variant.Outlined">
            <MudSelectItem T="ViewDirection" Value="ViewDirection.LTR">@SharedLocalizer["LTR"]</MudSelectItem>
            <MudSelectItem T="ViewDirection" Value="ViewDirection.RTL">@SharedLocalizer["RTL"]</MudSelectItem>
        </MudSelect>
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Mouse"
                  Header=@Localizer["InvertClickNav"]
                  Description=@Localizer["InvertClickNavDesc"]>
        <MudSwitch T="bool"
                   Value=@ViewConfigurationService.Config.InvertClickNavigation
                   ValueChanged=@OnInvertClickNavigationChanged
                   Color="Color.Primary" />
    </SettingsCard>
    <SettingsCard Icon="@MudBlazor.Icons.Material.Filled.Keyboard"
                  Header=@Localizer["InvertKeyboardNav"]
                  Description=@Localizer["InvertKeyboardNavDesc"]>
        <MudSwitch T="bool"
                   Value=@ViewConfigurationService.Config.InvertKeyboardNavigation
                   ValueChanged=@OnInvertKeyboardNavigationChanged
                   Color="Color.Primary" />
    </SettingsCard>
</div>
