@using Hitorus.Data
@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="@_isDarkMode" Theme="AppConfigService.AppTheme" />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider MaxWidth="MaxWidth.Small" FullWidth="true" />

<MudLayout>
    @if (_isInitialized) {
        <MudAppBar Elevation="0">
            <MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
            <MudText Typo="Typo.h5" Class="ml-3">Hitorus</MudText>
            <MudSpacer />
            <MudToggleIconButton Toggled="_isDarkMode"
                ToggledChanged="@OnDarkModeButtonToggled"
            Color="Color.Inherit"
            Icon="@MudBlazor.Icons.Material.Filled.LightMode"
            ToggledIcon="@MudBlazor.Icons.Material.Filled.DarkMode" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Width="180px">
            <MudNavMenu>
                <MudNavLink Href="/search" Icon="@MudBlazor.Icons.Material.Filled.Search">@SharedLocalizer["Search"]</MudNavLink>
                <MudNavLink Href="/download" Icon="@MudBlazor.Icons.Material.Filled.Download">@SharedLocalizer["Download"]</MudNavLink>
                <MudNavLink Href="/browse" Icon="@MudBlazor.Icons.Material.Filled.Folder">@SharedLocalizer["Browse"]</MudNavLink>
                <MudNavLink Href="/settings" Icon="@MudBlazor.Icons.Material.Filled.Settings">@SharedLocalizer["Settings"]</MudNavLink>
                <MudNavLink Href="/about" Icon="@MudBlazor.Icons.Material.Filled.Info">@SharedLocalizer["AppInfo"]</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent Style="height: 100dvh">
            <CascadingValue Value="StateHasChanged" TValue="Action">
                @Body
            </CascadingValue>
        </MudMainContent>
    } else {
        <div style="min-height: 100dvh; display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; flex-direction: column; align-items: center;
                        justify-content: center; gap: 2dvh;">
                @if (_connectionError || _incompatibleVersion) {
                    <MudIcon Icon="@MudBlazor.Icons.Material.Filled.Error" Size="Size.Large" Color="Color.Primary" Style="font-size: 4rem" />
                }
                @if (_connectionError) {
                    <MudText Typo="Typo.h6">@Localizer["ConnectionError"]</MudText>
                    <div class="d-flex gap-2 align-center">
                        <MudText Typo="Typo.subtitle1">@Localizer["EnsureServerRunning"]</MudText>
                        <MudLink Href="https://github.com/kaismic/Hitorus/releases/latest" Target="_blank">@Localizer["DownloadLink"]</MudLink>
                    </div>
                    <MudText Typo="Typo.subtitle1">@Localizer["CheckPortNumber"]</MudText>
                    <MudText Typo="Typo.subtitle1" Style="font-weight:700">@(string.Format(Localizer["CurrentPortNumber"], _initialApiPort))</MudText>
                    <div class="d-flex gap-2 align-center">
                        <MudText>@Localizer["EnterPortNumber"]</MudText>
                        <MudNumericField T="int" HideSpinButtons
                                         Min="1024" Max="65535"
                                         Pattern="[0-9]"
                                         @bind-Value="_apiPort" />
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   OnClick="@OnApiPortChangeRequested">
                            @SharedLocalizer["Confirm"]
                        </MudButton>
                    </div>
                } else if (_incompatibleVersion) {
                    <MudText Typo="Typo.h6">@(string.Format(Localizer["IncompatibleVersion"], _currentApiVersion))</MudText>
                    <div class="d-flex gap-2 align-center">
                        <MudText Typo="Typo.subtitle1">@Localizer["IncompatibleDesc"]</MudText>
                        <MudLink Href="https://github.com/kaismic/Hitorus/releases/latest" Target="_blank">@Localizer["DownloadLink"]</MudLink>
                    </div>
                    <MudText Typo="Typo.subtitle1">@Localizer["RecommendedActionDesc1"]</MudText>
                    <MudText Typo="Typo.subtitle1">@Localizer["RecommendedActionDesc2"]</MudText>
                    <DataExporter CurrentApiVersion="@_currentApiVersion"></DataExporter>
                } else {
                    <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary" Style="font-size: 4rem" />
                    <span>@Localizer["Starting"]</span>
                }
            </div>
        </div>
    }
</MudLayout>