<div class="d-flex gap-4">
    <MudFileUpload T="IBrowserFile" Accept=".json" OnFilesChanged="@ImportTagFilters">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Hitorus.Data.Icons.Import">
                @SharedLocalizer["TagFilters"]
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    <MudFileUpload T="IBrowserFile" Accept=".json" OnFilesChanged="@ImportGalleries">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Hitorus.Data.Icons.Import">
                @SharedLocalizer["Galleries"]
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    <MudFileUpload T="IBrowserFile" Accept=".json" OnFilesChanged="@ImportAppSettings">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Hitorus.Data.Icons.Import">
                @SharedLocalizer["AppSettings"]
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    <MudFileUpload T="IBrowserFile" Accept=".json" OnFilesChanged="@ImportViewPageSettings">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Hitorus.Data.Icons.Import">
                @SharedLocalizer["ViewPageDefaultSettings"]
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
</div>