<div class="gallery-browse-item pa-2 d-flex flex-column gap-2 rounded @(IsSelected ? "selected" : "") @(IsEditing ? "editing" : "")"
     style="height: 300px; overflow-y: auto; overflow-x: hidden;"
     onclick="@OnClick">
    <MudText Typo="Typo.h6">@Gallery.Title</MudText>
    <a href=@($"/gallery/{Gallery.Id}") target="_blank">
        <div id="@_imageContainerId" class="d-flex relative" style="width: 100%; height: @(THUMBNAIL_IMAGE_HEIGHT)px; overflow-x: hidden;">
            @for (int i = 1; i <= _maxImageCount; i++) {
                <img src=@($"{_baseImageUrl}&index={i}") alt=@($"Image {i}") />
            }
            <div class="image-overlay absolute d-flex justify-center align-center" style="width: 100%; height: 100%;">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.FileOpen"
                           DropShadow="false"
                           Ripple="false">
                    @Localizer["OpenGallery"]
                </MudButton>
            </div>
        </div>
    </a>
    <table style="border-collapse: collapse; width: 100%;" class="tag-collection">
        <tbody>
            <tr>
                <th>@SharedLocalizer["Id"]</th>
                <td><span>@Gallery.Id</span></td>
            </tr>
            <tr>
                <th>@SharedLocalizer["Language"]</th>
                <td>@LanguageTypeService.GetLanguageLocalName(Gallery.LanguageId)</td>
            </tr>
            <tr>
                <th>@SharedLocalizer["Type"]</th>
                <td>@(SharedLocalizer[LanguageTypeService.GetTypeValue(Gallery.TypeId)])</td>
            </tr>
            @foreach (var (category, tags) in _tagCollections) {
                <tr>
                    <th>@SharedLocalizer[category.ToString()]</th>
                    <td>
                        <div class="d-flex flex-wrap gap-1">
                            @foreach (TagDTO tag in tags) {
                                <span class="mud-chip-filled rounded px-1">@tag.Value</span>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>