<div class="gap-4 align-center" style="display: grid; grid-template-columns: auto auto 1fr auto auto;">
    <MudTooltip Text=@Localizer["CreateTooltip"]>
        <MudFab Color="Color.Primary"
                StartIcon="@MudBlazor.Icons.Material.Filled.Add"
                OnClick="@OnCreateButtonClicked" />
    </MudTooltip>
    <MudTooltip Text=@Localizer["RenameTooltip"]>
        <MudFab Color="Color.Primary"
                StartIcon="@MudBlazor.Icons.Material.Filled.Edit"
                OnClick="@OnRenameButtonClicked"
                Disabled="@(CurrentTagFilter == null)" />
    </MudTooltip>
    <MudTextField ReadOnly
                  T="@TagFilterDTO"
                  Value="@CurrentTagFilter"
                  Text="@CurrentTagFilter?.Name"
                  Variant="Variant.Outlined"
                  Placeholder=@SelectPlaceholder
                  OnAdornmentClick="@ShowTagFilterSelectorDialog"
                  @onclick="@ShowTagFilterSelectorDialog">
    </MudTextField>
    <MudTooltip Text=@SharedLocalizer["Save"]>
        <MudFab Color="Color.Primary"
                StartIcon="@MudBlazor.Icons.Material.Filled.Save"
                OnClick="@OnSaveButtonClicked"
                Disabled="@(CurrentTagFilter == null)" />
    </MudTooltip>
    <MudTooltip Text=@SharedLocalizer["Delete"]>
        <MudFab Color="Color.Primary"
                StartIcon="@MudBlazor.Icons.Material.Filled.Delete"
                OnClick="@OnDeleteButtonClicked" />
    </MudTooltip>
</div>