<div class="gap-4 align-center" style="display: grid; grid-template-columns: auto auto 1fr auto auto;">
    <MudTooltip Text=@Localizer["CreateTooltip"]>
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Add"
                OnClick="@OnCreateButtonClicked" />
    </MudTooltip>
    <MudTooltip Text=@Localizer["RenameTooltip"]>
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Edit"
                OnClick="@OnRenameButtonClicked"
                Disabled="@(CurrentTagFilter == null)" />
    </MudTooltip>
    <MudSelect T="TagFilterDTO"
               Variant="Variant.Outlined"
               Placeholder=@SelectPlaceholder
               @bind-Value="@CurrentTagFilter"
               ToStringFunc="@(tf => tf.Name)"
               Class="tag-filter-selector"
               FullWidth>
        @foreach (TagFilterDTO tagFilter in TagFilters) {
            <MudSelectItem Value="@tagFilter" />
        }
    </MudSelect>
    <MudTooltip Text=@SharedLocalizer["Save"]>
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Save"
                OnClick="@OnSaveButtonClicked"
                Disabled="@(CurrentTagFilter == null)" />
    </MudTooltip>
    <MudTooltip Text=@SharedLocalizer["Delete"]>
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Delete"
                OnClick="@OnDeleteButtonClicked" />
    </MudTooltip>
</div>